<div class="top">
	<div class="city">
		<%= @city %>
	</div>

	<div class="new_grouppin">
		<i class="fa fa-plus fa-3x"></i>
		<div class="post_text">Post</div>
	</div>


</div>

<div class="main">
	<%# Only display Log In and Sign Up if user is logged out, otherwise show relevant grouppins %>
	<% if user_signed_in? %>
		Horraayy you're signed in! You can post!
	<% else %>
		<div class="sign_up"><%= render 'users/registrations/new' %></div>

		<div class="log_in"><%= render 'users/sessions/new' %></div>
	<% end %>
</div>